@media (max-width: 1199px) {
  .blog .wrapper {
    max-width: 940px;
  }

  .blog .header-content {
    .content-container {
      img {
        width: 55%;
      }
    }
  }

  .blog .grid-wrapper {
    .left-section {
      img {
        width: 90%;
      }
      .text-box {
        width: 250px;
        height: 800px;
        h5:nth-of-type(1) {
          margin-top: 220px;
        }
      }
    }
    .right-section {
      .text-box {
        margin-top: 180px;
        margin-left: 61.5px;
      }
      .comments {
        margin-left: 50px;
      }
      form {
        .text-area {
          textarea {
            width: 28.5em;
          }
        }
      }
    }
  }
}

@media (max-width: 930px) {
  .blog .wrapper {
    max-width: 480px;
  }

  .blog .header-content {
    .topBar {
      justify-content: center;
      padding: 0;
      li:nth-child(4) a {
        margin-right: 0;
      }
    }
    .content-container {
      justify-content: flex-start;
      img {
        display: none;
      }
      h2 {
        margin: 0 50px;
      }
    }
  }

  .blog .grid-wrapper {
    grid-template-columns: 100%;
    grid-template-areas: 'right-section';
    gap: 0;
    .left-section {
      img {
        display: none;
      }
      .text-box {
        top: 0;
        left: 0;
        width: 100%;
        height: 400px;
        opacity: 0.95;
        h5:nth-of-type(1) {
          margin-top: 50px;
        }
      }
    }
    .right-section {
      .text-box {
        margin-top: 400px;
        margin-left: 0;
        border-left: none;
      }
      .comments {
        margin-left: 0;
        .comment-1 {
          flex-direction: column;
          margin-bottom: 50px;
          .text-box-1 {
            p {
              margin: 25px 0;
            }
          }
        }
        .comment-2 {
          flex-direction: column;
          margin-bottom: 50px;
          .text-box-2 {
            p {
              margin: 25px 0;
            }
          }
        }
      }
      form {
        .text-area {
          textarea {
            width: 100%;
          }
        }
      }
    }
  }
}

@media (max-width: 460px) {
  .blog .wrapper {
    max-width: 320px;
  }

  .blog .header-content {
    .topBar {
      a {
        padding: 0.4rem;
      }
    }
    .content-container {
      h2 {
        margin: 0 10px;
      }
    }
  }

  .blog .grid-wrapper {
    .left-section {
      .text-box {
        height: 430px;
      }
    }
  }
}
