@import 'setup';

$blue: #86e0f9;
$spruce: #0f614e;
$white: #fff;
$darkGrey: #0c1423;

html {
  font-size: 125%;
  font-family: 'Barlow', sans-serif;
  // color: $white;
}
img {
  display: block;
}
figure {
  margin: 0;
  padding: 0;
}
footer {
  margin: 0;
  padding: 0;
}

// home (index.html)
.home .wrapper {
  max-width: 1200px;
  width: 100%;
  height: 60vh;
  margin: 0 auto;
  // border: 1px solid;
  // margin-bottom: 10px;
}

// header: header-content
.home .header-content {
  position: relative;
  display: flex;
  flex-direction: column;
  background-image: url('../../under-the-sea-assets/header-image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.home .topBar {
  position: relative;
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  z-index: 20;
  a {
    text-decoration: none;
    display: block;
    padding: 1rem;
    color: $white;
    &:hover,
    &:focus {
      color: $blue;
    }
  }
  li:nth-child(1) a {
    color: $blue;
  }
  li:nth-child(4) a {
    margin-right: 100px;
  }
}
// .topBar a {
//   text-decoration: none;
//   display: block;
//   padding: 1rem;
// }
// .topBar li:nth-child(4) a {
//   margin-right: 100px;
// }
.home .header-content .content-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  h1 {
    width: 20%;
    font-size: 4rem;
    line-height: 3.5rem;
    text-transform: uppercase;
    margin: 0 50px;
  }
  img {
    width: 50%;
    position: absolute;
    top: 200px;
    right: 0;
  }
}
// .header-content .content-container h1 {
//   width: 20%;
//   font-size: 4rem;
//   line-height: 3.5rem;
//   text-transform: uppercase;
//   margin: 0 50px;
// }
// .header-content .content-container img {
//   width: 50%;
//   position: absolute;
//   top: 150px;
//   right: 0;
// }

// aside: brief-intro
.home .brief-intro {
  background-color: $darkGrey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h3 {
    font-size: 1.8rem;
    letter-spacing: 1px;
  }
  p {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 0 150px;
  }
  button {
    text-transform: uppercase;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 1px;
    margin-top: 20px;
    padding: 5px 10px;
    background-color: $blue;
    border: none;
    &:hover,
    &:focus {
      background-color: $white;
      cursor: pointer;
    }
  }
}
// .brief-intro h3 {
//   font-size: 1.8rem;
//   letter-spacing: 1px;
// }
// .brief-intro p {
//   font-family: 'Lato', sans-serif;
//   font-size: 1rem;
//   line-height: 1.5rem;
//   margin: 0 150px;
// }
// .brief-intro button {
//   text-transform: uppercase;
//   font-size: 1rem;
//   line-height: 1.5rem;
//   letter-spacing: 1px;
//   margin-top: 20px;
//   padding: 5px 10px;
//   background-color: $blue;
//   border: none;
//   &:hover,
//   &:focus {
//     background-color: $white;
//     cursor: pointer;
//   }
// }

// section: news
.home .news {
  background-color: $spruce;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    'img-box-1 text-box-1'
    'text-box-2 img-box-2';
  gap: 0 30px;
}
.home .news .img-box-1 {
  grid-area: img-box-1;
  position: relative;
}
.home .news .img-box-1 img {
  width: 80%;
  box-shadow: 30px 30px $blue;
  position: absolute;
  top: -30px;
}
.home .news .text-box-1 {
  grid-area: text-box-1;
  padding: 1rem;
  margin-right: 50px;
}
.home .news .text-box-1 h4 {
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 1px;
  margin: 0;
}
.home .news .text-box-1 p {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}
.home .news .text-box-1 button {
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 1px;
  background-color: $darkGrey;
  border: none;
  color: $white;
  &:hover,
  &:focus {
    background-color: $white;
    cursor: pointer;
    color: $darkGrey;
  }
}
.home .news .text-box-2 {
  grid-area: text-box-2;
  text-align: right;
  padding: 1rem;
  margin-left: 50px;
}
.home .news .text-box-2 h4 {
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 1px;
  margin: 0;
}
.home .news .text-box-2 p {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}
.home .news .text-box-2 button {
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 1px;
  background-color: $darkGrey;
  border: none;
  color: $white;
  &:hover,
  &:focus {
    background-color: $white;
    cursor: pointer;
    color: $darkGrey;
  }
}
.home .news .img-box-2 {
  grid-area: img-box-2;
  position: relative;
}
.home .news .img-box-2 img {
  width: 80%;
  box-shadow: -30px 30px $blue;
  position: absolute;
  bottom: -20px;
  right: 0;
}

// aside: extra-info
.home .extra-info {
  background-color: $darkGrey;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.5rem;
}
.home .extra-info h4 {
  font-size: 1.1rem;
  letter-spacing: 1px;
}
.home .extra-info h4 i {
  color: $darkGrey;
  background-color: $blue;
  border: 5px solid $blue;
  border-radius: 100%;
}

// banner-image
.home figure .wrapper {
  height: 100%;
}
.home .banner-image img {
  width: 100%;
  height: 80%;
}

// section: monthly-event
.home .monthly-event {
  background-color: $darkGrey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}
.home .monthly-event .img-container {
  width: 40%;
}
.home .monthly-event .img-container img {
  box-shadow: 30px 30px $blue;
}
.home .monthly-event .content-container {
  width: 60%;
}
.home .monthly-event .content-container h3 {
  font-size: 1.8rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.home .monthly-event .content-container p {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}
.home .monthly-event .content-container button {
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 1px;
  background-color: $blue;
  border: none;
  &:hover,
  &:focus {
    background-color: $white;
    cursor: pointer;
  }
}

// section: gallery
.home .gallery {
  background-color: $spruce;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .gallery .img-container {
  display: flex;
  justify-content: space-around;
}
.home .gallery .img-container img {
  width: 25%;
}

// footer: footer
.home footer .wrapper {
  height: 100%;
}
.home .footer {
  background-color: $blue;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}
.home .footer p {
  margin: 0;
  padding: 5px;
  color: $darkGrey;
}

// blog (blog.html)
.blog .wrapper {
  max-width: 1200px;
  width: 100%;
  height: 50vh;
  margin: 0 auto;
  border: 1px solid;
  // margin-bottom: 10px;
}

// header: header-content
.blog .header-content {
  position: relative;
  display: flex;
  flex-direction: column;
  background-image: url('../../under-the-sea-assets/blog-header.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.blog .topBar {
  position: relative;
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  z-index: 20;
  a {
    text-decoration: none;
    display: block;
    padding: 1rem;
    color: $white;
    &:hover,
    &:focus {
      color: $blue;
    }
  }
  li:nth-child(3) a {
    color: $blue;
  }
  li:nth-child(4) a {
    margin-right: 100px;
  }
}
.blog .header-content .content-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    width: 20%;
    font-size: 4rem;
    line-height: 3.5rem;
    text-transform: uppercase;
    margin: 0 50px;
  }
  img {
    width: 60%;
    position: absolute;
    top: 300px;
    right: 0;
    box-shadow: -30px 30px $blue;
  }
}

// section: grid-wrapper
.blog main .wrapper {
  height: 100%;
}
.blog .grid-wrapper {
  display: grid;
  grid-template-columns: 30% 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'left-section right-section';
}
.blog .grid-wrapper .left-section {
  grid-area: left-section;
}
.blog .grid-wrapper .right-section {
  grid-area: right-section;
}
