html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
  font-family: "Barlow", sans-serif;
  color: #fff;
}

img {
  display: block;
}

figure {
  margin: 0;
  padding: 0;
}

footer {
  margin: 0;
  padding: 0;
}

.home .wrapper {
  max-width: 1200px;
  width: 100%;
  height: 60vh;
  margin: 0 auto;
}

.home .header-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url("../../under-the-sea-assets/header-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.home .topBar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style: none;
  margin: 0;
  z-index: 20;
}
.home .topBar a {
  text-decoration: none;
  display: block;
  padding: 1rem;
  color: #fff;
}
.home .topBar a:hover, .home .topBar a:focus {
  color: #86e0f9;
}
.home .topBar li:nth-child(1) a {
  color: #86e0f9;
}
.home .topBar li:nth-child(4) a {
  margin-right: 100px;
}

.home .header-content .content-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.home .header-content .content-container h1 {
  width: 20%;
  font-size: 4rem;
  line-height: 3.5rem;
  text-transform: uppercase;
  margin: 0 50px;
}
.home .header-content .content-container img {
  width: 50%;
  position: absolute;
  top: 200px;
  right: 0;
}

.home .brief-intro {
  background-color: #0c1423;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.home .brief-intro h3 {
  font-size: 1.8rem;
  letter-spacing: 1px;
}
.home .brief-intro p {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 0 150px;
}
.home .brief-intro button {
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 1px;
  margin-top: 20px;
  padding: 5px 10px;
  background-color: #86e0f9;
  border: none;
}
.home .brief-intro button:hover, .home .brief-intro button:focus {
  background-color: #fff;
  cursor: pointer;
}

.home .news {
  background-color: #0f614e;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "img-box-1 text-box-1" "text-box-2 img-box-2";
  gap: 0 30px;
}

.home .news .img-box-1 {
  grid-area: img-box-1;
  position: relative;
}

.home .news .img-box-1 img {
  width: 80%;
  -webkit-box-shadow: 30px 30px #86e0f9;
          box-shadow: 30px 30px #86e0f9;
  position: absolute;
  top: -30px;
}

.home .news .text-box-1 {
  grid-area: text-box-1;
  padding: 1rem;
  margin-right: 50px;
}

.home .news .text-box-1 h4 {
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 1px;
  margin: 0;
}

.home .news .text-box-1 p {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}

.home .news .text-box-1 button {
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 1px;
  background-color: #0c1423;
  border: none;
  color: #fff;
}
.home .news .text-box-1 button:hover, .home .news .text-box-1 button:focus {
  background-color: #fff;
  cursor: pointer;
  color: #0c1423;
}

.home .news .text-box-2 {
  grid-area: text-box-2;
  text-align: right;
  padding: 1rem;
  margin-left: 50px;
}

.home .news .text-box-2 h4 {
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 1px;
  margin: 0;
}

.home .news .text-box-2 p {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}

.home .news .text-box-2 button {
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 1px;
  background-color: #0c1423;
  border: none;
  color: #fff;
}
.home .news .text-box-2 button:hover, .home .news .text-box-2 button:focus {
  background-color: #fff;
  cursor: pointer;
  color: #0c1423;
}

.home .news .img-box-2 {
  grid-area: img-box-2;
  position: relative;
}

.home .news .img-box-2 img {
  width: 80%;
  -webkit-box-shadow: -30px 30px #86e0f9;
          box-shadow: -30px 30px #86e0f9;
  position: absolute;
  bottom: -20px;
  right: 0;
}

.home .extra-info {
  background-color: #0c1423;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2.5rem;
}

.home .extra-info h4 {
  font-size: 1.2rem;
  letter-spacing: 1px;
}

.home .extra-info h4 i {
  color: #0c1423;
  background-color: #86e0f9;
  border: 5px solid #86e0f9;
  border-radius: 50%;
}

.home figure .wrapper {
  height: 100%;
}

.home .banner-image img {
  width: 100%;
  height: 80%;
}

.home .monthly-event {
  background-color: #0c1423;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
}

.home .monthly-event .img-container {
  width: 40%;
}

.home .monthly-event .img-container img {
  -webkit-box-shadow: 30px 30px #86e0f9;
          box-shadow: 30px 30px #86e0f9;
}

.home .monthly-event .content-container {
  width: 60%;
}

.home .monthly-event .content-container h3 {
  font-size: 1.8rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.home .monthly-event .content-container p {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}

.home .monthly-event .content-container button {
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 1px;
  background-color: #86e0f9;
  border: none;
}
.home .monthly-event .content-container button:hover, .home .monthly-event .content-container button:focus {
  background-color: #fff;
  cursor: pointer;
}

.home .gallery {
  background-color: #0f614e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .gallery .img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.home .gallery .img-container img {
  width: 25%;
}

.home footer .wrapper {
  height: 100%;
}

.home .footer {
  background-color: #86e0f9;
  text-align: center;
}

.home .footer p {
  margin: 0;
  padding: 5px;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #0c1423;
}

.blog .wrapper {
  max-width: 1200px;
  width: 100%;
  height: 50vh;
  margin: 0 auto;
}

.blog .header-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url("../../under-the-sea-assets/blog-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.blog .topBar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style: none;
  margin: 0;
  z-index: 20;
}
.blog .topBar a {
  text-decoration: none;
  display: block;
  padding: 1rem;
  color: #fff;
}
.blog .topBar a:hover, .blog .topBar a:focus {
  color: #86e0f9;
}
.blog .topBar li:nth-child(3) a {
  color: #86e0f9;
}
.blog .topBar li:nth-child(4) a {
  margin-right: 100px;
}

.blog .header-content .content-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.blog .header-content .content-container h2 {
  width: 20%;
  font-size: 3rem;
  line-height: 3rem;
  text-transform: uppercase;
}
.blog .header-content .content-container img {
  width: 62%;
  position: absolute;
  top: 300px;
  right: 0;
  -webkit-box-shadow: -30px 30px #86e0f9;
          box-shadow: -30px 30px #86e0f9;
  z-index: 20;
}

.blog main .wrapper {
  height: 100%;
  background-color: #0c1423;
  position: relative;
}

.blog .grid-wrapper {
  display: grid;
  grid-template-columns: 30% calc(70% - 50px);
  grid-template-rows: 1fr;
  grid-template-areas: "left-section right-section";
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
}

.blog .grid-wrapper .left-section {
  grid-area: left-section;
}
.blog .grid-wrapper .left-section img {
  position: relative;
  top: 80px;
  width: 100%;
  z-index: 20;
}
.blog .grid-wrapper .left-section .text-box {
  background-color: #0f614e;
  width: 350px;
  height: 700px;
  position: absolute;
  top: 110px;
  left: 40px;
  padding: 0 15px;
}
.blog .grid-wrapper .left-section .text-box h5:nth-of-type(1) {
  margin-top: 300px;
  margin-bottom: 0;
  font-size: 1.1rem;
}
.blog .grid-wrapper .left-section .text-box h5 {
  font-size: 1.1rem;
  margin-bottom: 0;
}
.blog .grid-wrapper .left-section .text-box p,
.blog .grid-wrapper .left-section .text-box li {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}

.blog .grid-wrapper .right-section {
  grid-area: right-section;
}
.blog .grid-wrapper .right-section .text-box {
  margin-top: 330px;
  margin-left: 16.5px;
  border-left: 5px solid #86e0f9;
  border-bottom: 5px solid #86e0f9;
  padding: 40px 40px 0;
}
.blog .grid-wrapper .right-section .text-box h4 {
  font-size: 1.2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.blog .grid-wrapper .right-section .text-box p:nth-of-type(1) {
  margin-top: 0;
  margin-bottom: 40px;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}
.blog .grid-wrapper .right-section .text-box p {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}
.blog .grid-wrapper .right-section .comments {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.blog .grid-wrapper .right-section .comments h4 {
  font-size: 1.2rem;
  letter-spacing: 1px;
  margin: 0 0 40px;
}
.blog .grid-wrapper .right-section .comments .comment-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px;
}
.blog .grid-wrapper .right-section .comments .comment-1 .text-box-1 p {
  margin: 0 25px 10px;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}
.blog .grid-wrapper .right-section .comments .comment-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}
.blog .grid-wrapper .right-section .comments .comment-2 .text-box-2 p {
  margin: 0 25px 10px;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}
.blog .grid-wrapper .right-section form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.blog .grid-wrapper .right-section form fieldset {
  border: none;
}
.blog .grid-wrapper .right-section form .user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}
.blog .grid-wrapper .right-section form .user-info input:nth-of-type(1) {
  width: calc(50% - 35px);
  margin-right: 35px;
  padding: 15px;
  border: none;
  border-bottom: 3px solid #86e0f9;
  background-color: transparent;
}
.blog .grid-wrapper .right-section form .user-info input {
  width: calc(50% - 5px);
  margin-right: 5px;
  padding: 15px;
  outline: none;
  border: none;
  border-bottom: 3px solid #86e0f9;
  background-color: transparent;
  color: #fff;
}
.blog .grid-wrapper .right-section form .text-area textarea {
  border: 3px solid #86e0f9;
  background-color: transparent;
  padding: 15px;
  resize: none;
  color: #fff;
}
.blog .grid-wrapper .right-section form ::-webkit-input-placeholder {
  color: #fff;
}
.blog .grid-wrapper .right-section form ::-moz-placeholder {
  color: #fff;
}
.blog .grid-wrapper .right-section form :-ms-input-placeholder {
  color: #fff;
}
.blog .grid-wrapper .right-section form ::-ms-input-placeholder {
  color: #fff;
}
.blog .grid-wrapper .right-section form ::placeholder {
  color: #fff;
}
.blog .grid-wrapper .right-section form button {
  margin: 25px 20px 80px;
  padding: 5px;
  background-color: #0f614e;
  border: none;
  color: #fff;
}
.blog .grid-wrapper .right-section form button:hover, .blog .grid-wrapper .right-section form button:focus {
  background-color: #86e0f9;
  cursor: pointer;
}

.blog footer .wrapper {
  height: 100%;
}

.blog .footer {
  background-color: #86e0f9;
  text-align: center;
}

.blog .footer p {
  margin: 0;
  padding: 5px;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #0c1423;
}

.contact .wrapper {
  max-width: 1200px;
  width: 100%;
  height: 50vh;
  margin: 0 auto;
}

.contact .header-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url("../../under-the-sea-assets/contact-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.contact .topBar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style: none;
  margin: 0;
  z-index: 20;
}
.contact .topBar a {
  text-decoration: none;
  display: block;
  padding: 1rem;
  color: #fff;
}
.contact .topBar a:hover, .contact .topBar a:focus {
  color: #86e0f9;
}
.contact .topBar li:nth-child(4) a {
  color: #86e0f9;
}
.contact .topBar li:nth-child(4) a {
  margin-right: 100px;
}

.contact .header-content .content-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact .header-content .content-container h2 {
  width: 40%;
  font-size: 3rem;
  line-height: 3rem;
  text-transform: uppercase;
  text-align: center;
}
.contact .header-content .content-container form {
  width: 62%;
  position: absolute;
  top: 300px;
  right: 50px;
  -webkit-box-shadow: -30px 30px #86e0f9;
          box-shadow: -30px 30px #86e0f9;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #0f614e;
}
.contact .header-content .content-container form fieldset {
  border: none;
}
.contact .header-content .content-container form .user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}
.contact .header-content .content-container form .user-info input:nth-of-type(1) {
  width: calc(50% - 35px);
  margin-right: 35px;
  padding: 15px;
  border: none;
  border-bottom: 3px solid #86e0f9;
  background-color: transparent;
}
.contact .header-content .content-container form .user-info input {
  width: calc(50% - 5px);
  margin-right: 5px;
  padding: 15px;
  border: none;
  outline: none;
  border-bottom: 3px solid #86e0f9;
  background-color: transparent;
  color: #fff;
}
.contact .header-content .content-container form .text-area textarea {
  border: 3px solid #86e0f9;
  background-color: transparent;
  padding: 15px;
  resize: none;
  color: #fff;
}
.contact .header-content .content-container form ::-webkit-input-placeholder {
  color: #fff;
}
.contact .header-content .content-container form ::-moz-placeholder {
  color: #fff;
}
.contact .header-content .content-container form :-ms-input-placeholder {
  color: #fff;
}
.contact .header-content .content-container form ::-ms-input-placeholder {
  color: #fff;
}
.contact .header-content .content-container form ::placeholder {
  color: #fff;
}
.contact .header-content .content-container form button {
  margin: 25px 20px 50px;
  padding: 5px;
  background-color: #0c1423;
  border: none;
  color: #fff;
}
.contact .header-content .content-container form button:hover, .contact .header-content .content-container form button:focus {
  background-color: #86e0f9;
  cursor: pointer;
}

.contact .contact-info {
  height: 100%;
  background-color: #0c1423;
}
.contact .contact-info .text-box {
  height: 100%;
  padding: 50px;
}
.contact .contact-info .text-box a {
  color: #fff;
}
.contact .contact-info .text-box h5:nth-of-type(1) {
  font-size: 1.1rem;
  margin-bottom: 0;
  margin-top: 90px;
}
.contact .contact-info .text-box h5:nth-of-type(1) i {
  margin-right: 10px;
}
.contact .contact-info .text-box h5:nth-of-type(2) {
  font-size: 1.1rem;
  margin: 15px 0;
}
.contact .contact-info .text-box p {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 0;
}
.contact .contact-info .text-box p:nth-of-type(4) {
  margin-bottom: 100px;
}

.contact footer .wrapper {
  height: 100%;
}

.contact .footer {
  background-color: #86e0f9;
  text-align: center;
}

.contact .footer p {
  margin: 0;
  padding: 5px;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #0c1423;
}

@media (max-width: 1199px) {
  .home .wrapper {
    max-width: 940px;
  }

  .home .header-content .content-container img {
    top: 300px;
  }

  .home .news .img-box-1 img {
    width: 90%;
  }
  .home .news .text-box-1 {
    padding: 0;
  }
  .home .news .text-box-1 p {
    margin-bottom: 0;
  }
  .home .news .text-box-2 {
    padding: 0;
    margin-top: 25px;
  }
  .home .news .text-box-2 p {
    margin-bottom: 0;
  }
  .home .news .img-box-2 img {
    width: 90%;
    bottom: 0;
  }

  .home .extra-info div:nth-of-type(1) {
    margin-right: 20px;
  }

  .home .monthly-event .img-container {
    margin-right: 50px;
  }
}
@media (max-width: 835px) {
  .home .wrapper {
    max-width: 480px;
  }

  .home .header-content .topBar {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
  }
  .home .header-content .topBar li:nth-child(4) a {
    margin-right: 0;
  }
  .home .header-content .content-container img {
    display: none;
  }

  .home .brief-intro p {
    margin: 0 50px;
  }

  .home .news {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "text-box-1" "text-box-2";
    gap: 0;
    height: 100%;
  }
  .home .news .img-box-1 {
    display: none;
  }
  .home .news .img-box-2 {
    display: none;
  }
  .home .news .text-box-1 {
    margin: 50px 20px;
    text-align: center;
    padding: 0;
  }
  .home .news .text-box-1 button {
    margin-top: 20px;
  }
  .home .news .text-box-2 {
    margin: 20px 20px 50px;
    text-align: center;
    padding: 0;
  }
  .home .news .text-box-2 button {
    margin-top: 20px;
  }

  .home .extra-info {
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .home .extra-info div:nth-of-type(1) {
    margin-right: 0;
  }

  .home figure .wrapper {
    height: 30vh;
  }
  .home figure .wrapper img {
    height: 100%;
  }

  .home .monthly-event {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
    height: 100%;
  }
  .home .monthly-event .img-container {
    display: none;
  }
  .home .monthly-event .content-container {
    text-align: center;
    height: 100%;
  }
  .home .monthly-event .content-container button {
    margin-bottom: 20px;
  }

  .home .gallery .img-container {
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home .gallery .img-container img {
    width: 45%;
  }
}
@media (max-width: 460px) {
  .home .wrapper {
    max-width: 320px;
  }

  .home .header-content .topBar a {
    padding: 0.4rem;
  }
  .home .header-content .content-container h1 {
    margin: 0 10px;
  }

  .home .brief-intro h3 {
    text-align: center;
  }

  .home figure .wrapper {
    height: 20vh;
  }
}
@media (max-width: 1199px) {
  .blog .wrapper {
    max-width: 940px;
  }

  .blog .header-content .content-container img {
    width: 55%;
  }

  .blog .grid-wrapper .left-section img {
    width: 90%;
  }
  .blog .grid-wrapper .left-section .text-box {
    width: 250px;
    height: 800px;
  }
  .blog .grid-wrapper .left-section .text-box h5:nth-of-type(1) {
    margin-top: 220px;
  }
  .blog .grid-wrapper .right-section .text-box {
    margin-top: 180px;
    margin-left: 61.5px;
  }
  .blog .grid-wrapper .right-section .comments {
    margin-left: 50px;
  }
  .blog .grid-wrapper .right-section form .text-area textarea {
    width: 28.5em;
  }
}
@media (max-width: 930px) {
  .blog .wrapper {
    max-width: 480px;
  }

  .blog .header-content .topBar {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
  }
  .blog .header-content .topBar li:nth-child(4) a {
    margin-right: 0;
  }
  .blog .header-content .content-container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .blog .header-content .content-container img {
    display: none;
  }
  .blog .header-content .content-container h2 {
    margin: 0 50px;
  }

  .blog .grid-wrapper {
    grid-template-columns: 100%;
    grid-template-areas: "right-section";
    gap: 0;
  }
  .blog .grid-wrapper .left-section img {
    display: none;
  }
  .blog .grid-wrapper .left-section .text-box {
    top: 0;
    left: 0;
    width: 480px;
    height: 400px;
    opacity: 0.95;
  }
  .blog .grid-wrapper .left-section .text-box h5:nth-of-type(1) {
    margin-top: 50px;
  }
  .blog .grid-wrapper .right-section .text-box {
    margin-top: 400px;
    margin-left: 0;
    border-left: none;
  }
  .blog .grid-wrapper .right-section .comments {
    margin-left: 0;
  }
  .blog .grid-wrapper .right-section .comments .comment-1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 50px;
  }
  .blog .grid-wrapper .right-section .comments .comment-1 .text-box-1 p {
    margin: 25px 0;
  }
  .blog .grid-wrapper .right-section .comments .comment-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 50px;
  }
  .blog .grid-wrapper .right-section .comments .comment-2 .text-box-2 p {
    margin: 25px 0;
  }
  .blog .grid-wrapper .right-section form .text-area textarea {
    width: 22em;
  }
}
@media (max-width: 460px) {
  .blog .wrapper {
    max-width: 320px;
  }

  .blog .header-content .topBar a {
    padding: 0.4rem;
  }
  .blog .header-content .content-container h2 {
    margin: 0 10px;
  }

  .blog .grid-wrapper .left-section .text-box {
    width: 320px;
    height: 430px;
  }
  .blog .grid-wrapper .right-section form .text-area textarea {
    width: 14em;
  }
}
@media (max-width: 1199px) {
  .contact .wrapper {
    max-width: 940px;
  }

  .contact .header-content .content-container form {
    width: 55%;
    right: 30px;
  }
  .contact .header-content .content-container form .text-area textarea {
    width: 100%;
  }
}
@media (max-width: 940px) {
  .contact .wrapper {
    max-width: 480px;
  }

  .contact .header-content .topBar {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
  }
  .contact .header-content .topBar li:nth-child(4) a {
    margin-right: 0;
  }
  .contact .header-content .content-container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .contact .header-content .content-container h2 {
    margin: 0 50px;
    text-align: left;
  }
  .contact .header-content .content-container form {
    top: 490px;
    right: 0;
    width: 100%;
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .contact .contact-info .text-box h5:nth-of-type(1) {
    margin-top: 550px;
  }
}
@media (max-width: 460px) {
  .contact .wrapper {
    max-width: 320px;
  }

  .contact .header-content .topBar a {
    padding: 0.4rem;
  }
  .contact .header-content .content-container h2 {
    margin: 0 10px;
  }
}